@import 'globals';
.header {
  color: #F0F0F0;
  font-size: 30px;
  font-style: normal;
  margin: 0;
  width:100%;
  //overflow:hidden;
  position:relative;
  .head_board
{
    background-image: url("/img/logo/head_back.jpg");
     // overflow:hidden;
     .head_img{
      /*   
         position: absolute;
         width: 1600px;
         left:-200px;
         z-index:-1;
         height: 400px;
         background-repeat: no-repeat;
         */
     }
//background-size: cover;
//box-shadow: inset 0px 0px 5px black;
justify-content: space-between;
    align-items: center;
    display: flex;
    height: 200px;
     padding: 0px 20px;
      //width:100%;
   // width:1000px;
    margin:auto;
.head_item_container{
   // width:20%;
   .advertising   {
       color: white;
   }
}
     

}


  
}



